@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1120px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  color: #181717;
  font: 500 50px DM Sans, sans-serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav p {
  color: var(--main-black, #181717);
  font: 500 22px DM Sans, sans-serif;
}

main .preview {
  margin: 120px 0 0 0;
}

main .preview .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 128px 0;
}

main .preview .info h1 {
  color: var(--main-black, #181717);
  font: 500 60px DM Sans;
  width: 356px;
}

main .preview .info nav .about:hover {
  color: var(--main-black, #383636);
  cursor: pointer;
}

main .preview .info nav p {
  color: #606060;
  /* Heading-2 */
  font: 400 32px DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

main .preview .image {
  background: url(../src/img/garyRectangle.png) no-repeat;
  background-size: contain;
  width: 33px;
  height: 39px;
}

main .project:not(:last-child) {
  border-bottom: 2px solid #000;
}

main .project {
  margin: 83px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 108px;
}

main .project-info {
  width: 356px;
}

main .project-info h2 {
  color: #181717;
  font: 500 24px DM Sans;
  padding-bottom: 25px;
  text-transform: uppercase;
}

main .project-info__text {
  color: var(--main-black, #181717);
  font: 400 22px DM Sans;
  padding-bottom: 50px;
}

main .project-info__lang {
  color: var(--main-gray, #606060);
  font: 400 22px DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 0 0 160px 0;
}

main .project-info a {
  color: var(--main-black, #181717);
  font: 500 22px DM Sans;
}

main .project-visual {
  background: url(../src/img/garyRectangle.png);
  width: 640px;
  height: 365px;
}

main .project-border {
  border-bottom: 2px solid #000;
  width: 100%;
  height: 2px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0 0;
}

footer .name {
  color: #2429af;
  font: 500 22px DM Sans;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav a {
  color: var(--main-black, #181717);
  font: 500 22px DM Sans;
  text-decoration: none;
}

footer nav a:not(:last-child) {
  padding: 0 31px 0 0;
}
/*# sourceMappingURL=index.css.map */